.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar {
  margin: 0px;
  border-bottom: 2px solid rgb(165, 161, 161);
  height: 15vh;
}
.resto-name {
  color: rgb(17, 16, 16);
  font-size: 30px;
  margin: 4px;
}
.order-cont {
  display: flex;
}
.note {
  color: gray;
  font-size: 25px;
}
@media (max-width: 767px) {
  .note {
    display: none;
  }
}
.cart-cont {
  display: flex;
}
.orders-number {
  margin-left: -10px;
  background-color: orangered;
  color: white;
  border-radius: 16px;
  font-size: 15px;
  align-self: flex-start;
}
.icon {
  font-size: 30px;
}
.cart-cont {
  display: flex;
  align-items: center;
}
